@charset "utf-8";
body {
    background: #212121;
    font-size: 22px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #FFF;
}
h1 {
    margin-top: 100px;
    font-size: 60px;
    font-family: 'Bree Serif', 'serif';
}
nav {
    background-color: #AA898A;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li {
    margin: 0px;
    display: inline-block;
    background-color: #AA898A;
}
nav a {
    display: block;
    padding: 14px 20px;
    color: #FFF;
    font-size: 17px;
    text-decoration: none;
}
nav a:hover {
    background-color: #212121;
}

@media screen and (max-width : 768px) {
h1 {
    font-size: smaller;
    text-align: center;
    margin-top: 10px;
}
	footer {
		display: none;
	}	

nav {
    background-color: #AA898A;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li {
    margin: 0px;
    display: block;
    background-color: #AA898A;
}
nav a {
    display: block;
    padding: 14px 20px;
    color: #FFF;
    font-size: smaller;
    text-decoration: none;
	text-align: left;
}
nav a:hover {
    background-color: #212121;
}
}
